repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/doublier/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
